<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-warning text-dark text-center">
      <span class="h2">Connexion</span>
    </div>
    <form [formGroup]="form">
      <div class="card-body">
        <div class="form-connection">
          <label for="identifiant">Identifiant: </label>
          <input
            type="text"
            class="form-control"
            id="identifiant"
            name="identifiant"
          />
        </div>
        <div class="form-connection">
          <label for="motDePasse">Mot de passe :</label>
          <a routerLink="/motDePasseOublie" routerLinkActive="active"
            >Mot de passe oublié ?</a
          >
          <input
            type="password"
            class="form-control"
            id="motDePasse"
            name="motDePasse"
          />
        </div>

    </div>
    <div class="card-footer text-center">
      <div class="btn-group btn-group-lg">
        <button
          type="button"
          class="btn btn-warning"
          routerLink="/allUtilisateurs"
          routerLinkActive="active"
        >
          Connexion
        </button>
        <button
          type="button"
          class="btn btn-success"
          routerLink="/inscription"
          routerLinkActive="active"
        >
          Pas de compte ?
        </button>

        </div>
      </div>
    </form>
  </div>
</div>
