<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-warning text-dark text-center">
      <span class="h2">Connexion</span>
    </div>
    <div class="card-body">
      <form>
        <div class="form-connection">
          <label for="id">Identifiant: </label>
          <input type="text" class="form-control" id="id" />
        </div>
        <div class="form-connection">
          <label for="intitule">Mot de passe :</label>
          <a routerLink="/motDePasseOublie" routerLinkActive="active"
            >Mot de passe oublié ?</a
          >
          <input type="password" class="form-control" id="mdp" />
        </div>
      </form>
    </div>
    <div class="card-footer text-center">
      <div class="btn-group btn-group-lg">
        <button
          type="button"
          class="btn btn-warning"
          routerLink="/allUtilisateurs"
          routerLinkActive="active"
        >
          Connexion
        </button>
        <button
          type="button"
          class="btn btn-success"
          routerLink="/inscription"
          routerLinkActive="active"
        >
          Pas de compte ?
        </button>
      </div>
    </div>
  </div>
</div>
