 <div class="container">
  <div class="card mt-3" id="inscriptionForm">
    <div class="card-header bg-warning text-dark text-center">
      <h3>Connexion</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <label for="identifiant">Identifiant</label>
        <input
          type="text"
          class="form-control"
          id="identifiant"
          name="identifiant"
          placeholder="Enter your identifiant"
          formControlName="identifiant"
          required/>
        <label for="motDePasse">Mot de Passe :</label>
        <a class="btn btn-link"  (click)="mdpOublie()">Mot de passe oublié ?</a>
        <input
          type="password"
          class="form-control"
          id="motDePasse"
          name="motDePasse"
          placeholder="Enter your password"
          formControlName="motDePasse"
          required/>

        <div class="card-footer d-flex justify-content-center">
          <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-warning" (click)="submit()">
              Connexion
            </button>
            <button
            type="button"
            class="btn btn-success"
            (click)="inscription()"
          >
            Inscription
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

