<div class="container">
  <div class="card mt-3">
    <div class="card-header text-center">
      <h3>Creation d'un sport, d'une équipe ou d'un match</h3>
    </div>
    <div class="card-body">
      <div>
        <!-- Creation d'un sport -->
        <form [formGroup]="creationSport">
          <div><h4 for="nameSport">Creation d'un sport : </h4></div>
          <input
            type="text"
            class="form-control"
            id="nameSport"
            name="nameSport"
            placeholder="Enter your sport"
            formControlName="nameSport"
            required
          />
          <button
            type="button"
            class="btn btn-info btn-outline-warning "
            [disabled]="!creationSport.valid"
            (click)="submitSport()"
          >
            Confirmez
          </button>
        </form>
        <br>
        <br>
        <!-- Creation d'une equipe -->
        <div>
          <h4 for="sportSelect">Creation d'un equipe : </h4>
          <select
            [(ngModel)]="sportSelect"
            id="sportSelect"
            name="sportSelect"
            class="form-select"
          >
            <option disable hidden [value]="selectDefaultValue">--</option>
            <option *ngFor="let s of sports" value="{{ s.id }}">
              {{ s.nomSport }}
            </option>
          </select>
        </div>

        <form [formGroup]="creationEquipe">
          <input
            type="text"
            class="form-control"
            id="nameEquipe"
            name="nameEquipe"
            formControlName="nameEquipe"
            placeholder="Enter your equip name"
            required
          />
          <button
            type="button"
            class="btn btn-info btn-outline-warning"
            [disabled]="!creationEquipe.valid"
            (click)="submitEquipe(sportSelect)"
          >
            Confirmez
          </button>
        </form>
        <br>
        <br>

        <!-- Creation d'un match  -->
        <div><h4 for="match">Creation d'un match : </h4></div>

        <select
          [(ngModel)]="sportSelect"
          id="sportSelect"
          name="sportSelect"
          class="form-select"
        >
          <option disable hidden [value]="selectDefaultValue">--</option>
          <option *ngFor="let s of sports" value="{{ s.id }}">
            {{ s.nomSport }}
          </option>
        </select>

        <div>
          <select
            [(ngModel)]="equipeSelect1"
            id="equipeSelect1"
            name="equipeSelect1"
            class="form-select"
            (click)="loadEquipes(sportSelect)"
            (click)="getEquipe1(sportSelect, equipeSelect1)"
          >
            <option disable hidden [value]="selectDefaultValue">--</option>
            <option *ngFor="let e1 of equipes" value="{{ e1.id }}">
              {{ e1.nom }}
            </option>
          </select>
        </div>

        <div>
          <select
            [(ngModel)]="equipeSelect2"
            id="equipeSelect2"
            name="equipeSelect2"
            class="form-select"
            (click)="getEquipe2(sportSelect, equipeSelect2)"
          >
            <option disable hidden [value]="selectDefaultValue">--</option>
            <option *ngFor="let e2 of equipes" value="{{ e2.id }}">
              {{ e2.nom }}
            </option>
          </select>
        </div>

        <form [formGroup]="creationMatch">
          <input
            type="text"
            class="form-control"
            id="lieu"
            name="lieu"
            formControlName="lieu"
            placeholder="Enter place"
            required
          />
          <input
            type="text"
            class="form-control"
            id="ville"
            name="ville"
            formControlName="ville"
            placeholder="Enter city"
            required
          />
          <input
            type="text"
            class="form-control"
            id="pays"
            name="pays"
            formControlName="pays"
            placeholder="Enter country"
            required
          />
          <br>
          <label for="match">Date du match : </label>
          <input
            type="date"
            class="form-control"
            id="dateMatch"
            name="dateMatch"
            formControlName="dateMatch"
            required
          />
          <br>
          <label for="match">Heure du match : </label>
          <input
            type="time"
            class="form-control"
            id="heureMatch"
            name="heureMatch"
            formControlName="heureMatch"
            required
          />
          <button
            type="button"
            class="btn btn-info btn-outline-warning"
            [disabled]="!creationMatch.valid"
            (click)="submitMatch(sportSelect, equipeSelect1, equipeSelect2)"
          >
            Confirmez
          </button>
        </form>
      </div>
      <br>
      <br>
      <!-- Creation d'une cote  -->
      <div><h4 for="match">Création des cotes : </h4></div>
      <div>
        <select
          [(ngModel)]="sportSelect"
          id="sportSelect"
          name="sportSelect"
          class="form-select"
          (click)="loadMatchs(sportSelect)"
        >
          <option disable hidden [value]="selectDefaultValue">--</option>
          <option *ngFor="let s of sports" value="{{ s.id }}">
            {{ s.nomSport }}
          </option>
        </select>
      </div>
      <br>
      <label for="matchSelectCH">Matches </label>
      <select
        [(ngModel)]="matchSelectCH"
        id="matchSelectCH"
        name="matchSelectCH"
        class="form-select"
        (ngModelChange)="onChange($event)"

      >
        <option disable hidden [value]="selectDefaultValue">--</option>
        <option *ngFor="let m of matchs" [ngValue]="m">
          {{ m.equipes[0].nom }} vs {{ m.equipes[1].nom }} le
          {{ m.dateMatch }} at {{ m.heureMatch }}
        </option>
      </select>
      <br>
      <form [formGroup]="creationCotes">
        <label> Saisir la cote en cas de VICTOIRE  </label>
        <input
          type="text"
          class="form-control"
          id="valeurE1"
          name="valeurE1"
          formControlName="valeurE1"
          placeholder="Enter cote"
          required
        />
        <br>
         <label> Saisir la cote de l'équipe 1 </label>
      <input
        type="text"
        class="form-control"
        id="valeurE2"
        name="valeurE2"
        formControlName="valeurE2"
        placeholder="Enter cote"
        required
      />
      <br>
      <label> Saisir la cote de l'équipe 2 </label>
    <input
      type="text"
      class="form-control"
      id="valeurMN"
      name="valeurE1"
      formControlName="valeurMN"
      placeholder="Enter cote"
      required
    />
    <br>
        <button
          type="button"
          class="btn btn-info btn-outline-warning"
          [disabled]="!creationCotes.valid"
          (click)="createCote(matchSelectCH.id)"
        > Validez cote match
        </button>
        </form>
    </div>
  </div>
</div>
