<div class="h1 text-warning text-center">Voici les utilisateurs</div>

<ul>
    <div class="card-header bg-outline-warning" *ngFor="let utilisateur of utilisateurs "> 
        <h3 class="text-success" [routerLink]="['./', utilisateur.id]">{{utilisateur?.identifiant}},</h3>
        <div [routerLink]="['./', utilisateur.id]"><strong>Id: </strong> {{utilisateur?.id}},</div>
        <div [routerLink]="['./', utilisateur.id]"><strong>Email: </strong>{{utilisateur?.email}},</div>
        <div [routerLink]="['./', utilisateur.id]"><strong>Mot de passe: </strong>{{utilisateur?.motDePasse}},</div>
        <div [routerLink]="['./', utilisateur.id]"><strong>Salaire(facultatif): </strong>{{utilisateur?.salaire}},</div>
        <div [routerLink]="['./', utilisateur.id]"><strong>Rôle: </strong>{{utilisateur?.role}},</div>
        <div [routerLink]="['./', utilisateur.id]"><strong>Profil (Risque, Mi-Risque, Sans Risque): </strong>{{utilisateur?.profil}},</div>
    </div>
</ul>
<router-outlet></router-outlet>
<!-- <div>
    <div>
        <button (click)="add()">Ajout d'IronMan</button>
    </div>

    <div>
        <button (click)="rename()">Renommer le Pinguin en Bane</button>
    </div>

    <div>
        <button (click)="remove()">Effacer CatWomen</button>
    </div>
</div>  -->
<!--  <mat-autocomplete #heroesAuto="matAutocomplete">
    <mat-option *ngFor="let hero of filteredHeroes$|async"> {{hero.name}}</mat-option>
</mat-autocomplete>
<input  matInput type="text" [formControl]="name" placeholder="Name" [matAutocomplete]="heroesAuto"> -->