<div class="container">
  <div class="card mt-3" id="inscriptionForm">
    <div class="card-header bg-warning text-dark text-center">
      <h3>Inscription</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm">
        <label for="identifiant">Identifiant</label>
        <input
          type="text"
          class="form-control"
          id="identifiant"
          name="identifiant"
          placeholder="Enter your identifiant"
          formControlName="identifiant"

          required/>
        <div
          class="help-block"
          *ngIf="identifiant.touched && identifiant.invalid"
          >Le nom d'utilisateur n'est pas valide</div
        >
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email address"
          formControlName="email"

          required
          />
          <div
          class="help-block"
          *ngIf="email.touched && email.invalid"
          >Email non valide</div>
        <label for="motDePasse">Mot de Passe :</label>
        <input
          type="password"
          class="form-control"
          id="motDePasse"
          name="motDePasse"
          placeholder="Enter your password"
          formControlName="motDePasse"
          required/>
        <div
          class="help-block"
          *ngIf="motDePasse.touched && motDePasse.errors?.minlength"
          >Le mot de passe doit etre au minimum de 8 characters </div
        >
        <div class="form-group">
          <label for="salaire">Salaire (falcultatif):</label>
          <input type="number" step="0.01" class="form-control" id="salaire"  name="salaire"
          placeholder="Enter your salary to help us giving more helpful tips"
          formControlName="salaire" />
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input
              type="radio"
              name="profil"
              id="risque"
              class="form-check-input"
              value="RISQUE"
              formControlName="profil"
              />
            Risque
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input
              type="radio"
              name="profil"
              id="risque2"
              class="form-check-input"
              value="MIRISQUE"
              formControlName="profil"
              />
            Mi-Risque
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input
              type="radio"
              name="profil"
              id="risque3"
              class="form-check-input"
              value="SANSRISQUE"
              formControlName="profil"
              />
            Sans Risque
          </label>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <div class="btn-group btn-group-lg">
            <button
              type="button"
              class="btn btn-warning"
              [disabled]="!loginForm.valid"
              (click)="onSubmit()"
            >
              Confirmez
            </button>
            <button
            type="button"
            class="btn btn-success"
            [routerLink]="['/connexion']"
          >
            Connexion
          </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
