<div class="container">
  <div class="card mt-1">
    <div class="card-header bg-warning text-dark text-center">
      <span class="h2">Mot de passe oublié</span>
    </div>
    <div class="card-body">
      <form>
        <div class="form-connection">
          <label for="id">Adresse email: </label> <input type="email"
            class="form-control" id="email">
        </div>
      </form>

    </div>
    <div class="card-footer text-center">
      <div><button type="button" class="btn btn-warning btn-group-lg" onclick="save()">
        Envoyer les consignes</button></div>
      <div><a routerLink="/connexion" routerLinkActive="active">Retour vers Connexion</a></div>
  </div>
</div>
