<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-warning text-dark text-center">
      <span class="h2">Mot de passe oublié</span>
    </div>

    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-connection">
          <label for="email">Adresse email: </label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            formControlName="email"
            required
          />
        </div>
        <div class="card-footer text-center">
          <div>
            <button
              type="button"
              class="btn btn-warning btn-group-lg"
              (click)="sendEmail()"
            >
              Envoyer les consignes
            </button>
          </div>
          <div>
            <a routerLink="/connexion"
              >Retour vers Connexion</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
