<div class="container">
  <div class="card mt-3">
    <div class="card-header bg-warning text-dark text-center">
      <span class="h3">Pari</span>
    </div>
    <div class="card-body">
      <form>
        <div class="sportAParier">
          <label for="sportSelect">Sport</label>
          <select
            [(ngModel)]="sportSelect"
            id="sportSelect"
            name="sportSelect"
            class="form-select"
            (change)="onChange(sportSelect)"
          >
            <option disable hidden [value]="selectDefaultValue">--</option>
            <option *ngFor="let s of sports" value="{{ s.id }}">
              {{ s.nomSport }}
            </option>
          </select>
        </div>
        <router-outlet></router-outlet>
      </form>
    </div>
  </div>
</div>
