<!-- <div id="navigationBar"></div>
	<div class="container">


		<div class="card mt-3"  >
			<div
				class="card-header bg-outlline-success text-center" style="color:rgb(182, 237, 62)">
				<span class="h2"><i class="fa-solid fa-futbol " style="color:rgb(182, 237, 62)"></i>
					Historique des paris sportifs sur le football</span>
			</div>


			<button type="submit" class="btn btn-outline" style="color:rgb(182, 237, 62); border-color:rgb(182, 237, 62)" (click)="voirParis(utilisateur.id)">Voir mes paris</button>
		<div id="lesParis" *ngIf="lesParis">

			<button type="submit" class="btn btn-outline" style="color:rgb(182, 237, 62); border-color:rgb(182, 237, 62)" (click)="voirParis()">Voir mes paris</button>
		<div id="lesParis" *ngIf="lesParis">	

	<div class="card mt-3  mt-2" style="border-color:rgb(182, 237, 62)"  *ngFor="let p of listPari">
				<div class="card-body" >
					<form >
						<div class="form-connection p-2" >
							<h3 style="color:rgb(182, 237, 62)"><strong>Date du pari : {{p.datePari}}</strong></h3>
							<br>
							<h3 style="color:rgb(182, 237, 62)"><strong>Heure du pari : {{p.heurePari}}</strong></h3>
							<br>
							<h5 style="color:rgb(182, 237, 62)" ><strong>Match:{{p.matchDto.equipes[0].nom}} VS {{p.matchDto.equipes[1].nom}}</strong></h5>
							<br>
							<h6 style="color:rgb(182, 237, 62)"><strong>Montant joué : {{p.montantJoue}}</strong></h6>
							<br>
							<h6><strong style="color:rgb(182, 237, 62)">Résultat du pari : {{p.resultat}}</strong></h6>
							<br>
							<h6><strong style="color:rgb(182, 237, 62)">Résultat du pari : {{p.montantResultat}}</strong></h6>

						</div>
					</form>
				</div>
			</div>

			<!-- <div class="card mt-3  mt-2" style="border-color:rgb(182, 237, 62)" >
				<div class="card-body " >
					<form>
						<div class="form-connection p-2">
							<h3 style="color:rgb(182, 237, 62)"><strong>Pari 2</strong></h3>
							<br>
							<h5 style="color:rgb(182, 237, 62)"><strong>Match:      VS      </strong></h5>
							<br>
							<h6 style="color:rgb(182, 237, 62)" ><strong>Montant joué :</strong></h6>
							<br>
							<h6 style="color:rgb(182, 237, 62)"><strong>Date du pari :</strong></h6>
							<br>
							<h6 style="color:rgb(182, 237, 62)"><strong style="color:rgb(182, 237, 62)">Résulat du pari : PERDANT</strong></h6>

						</div>
					</form>
				</div>
			</div>

			<div class="card mt-3  mt-2" style="border-color:rgb(182, 237, 62)">

				<div class="card-body " >
					<form>
						<div class="form-connection p-2">
							<h3><strong style="color:rgb(182, 237, 62)">Pari 3</strong></h3>
							<br>
							<h5><strong style="color:rgb(182, 237, 62)">Match:      VS      </strong></h5>
							<br>
							<h6><strong style="color:rgb(182, 237, 62)">Montant joué :</strong></h6>
							<br>
							<h6><strong style="color:rgb(182, 237, 62)">Date du pari :</strong></h6>
							<br>
							<h6><strong style="color:rgb(182, 237, 62)">Résulat du pari : PERDANT</strong></h6>

						</div>
					</form>
				</div>
			</div> -->

			<nav>
				<ul class="pagination pagination-sm justify-content-center">
					<li class="page-item"><a class="page-link" href="#">Previous</a></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">Next</a></li>
				</ul>

			</nav>

		</div>
	</div>
</div> -->



			<!-- <div class="form-connection p-2" *ngFor="let p of listPari">
				<h3><strong>Pari:</strong></h3>
				<h5><strong>{{p.matchDto.equipes[0].nom}} VS {{p.matchDto.equipes[1].nom}}</strong></h5>
				<h6><strong>Montant joué : {{p.montantJoue}}</strong></h6>

				<h6><strong>Date du pari : {{p.datePari}}</strong></h6> -->

			<!-- <div class="card mt-3 border-success mt-2">
				<div class="card-body ">
					<form>
						<div class="form-connection p-2">
							<h3><strong>Pari 2</strong></h3>
							<h5><strong>Match : VS </strong></h5>
							<h6><strong>Montant joué :</strong></h6>
							<h6><strong>Date du pari :</strong></h6>
							<div class="form-check-inline form-switch">
								<input class="form-check-input" type="checkbox" id="mySwitch"
									name="Gagné" value="yes" disabled="disabled" > <label
									class="form-check-label text-success" for="mySwitch" >Gagné</label>
							</div>
							<div class="form-check-inline form-switch" d-flex-inline >
								<input class="form-check-input" type="checkbox" id="mySwitch"
									name="Gagné" value="yes" checked disabled="disabled"> <label
									class="form-check-label text-danger" for="mySwitch" >Perdu</label>
							</div>

						</div>
					</form>
				</div>
			</div>

			<div class="card mt-3 border-success mt-2">

				<div class="card-body ">
					<form>
						<div class="form-connection p-2">
							<h3><strong>Pari 3</strong></h3>
							<h5><strong>Match : VS </strong></h5>
							<h6><strong>Montant joué :</strong></h6>
							<h6><strong>Date du pari :</strong></h6>
							<div class="form-check-inline form-switch">
								<input class="form-check-input" type="checkbox" id="mySwitch"
									name="Gagné" value="yes" disabled="disabled"> <label
									class="form-check-label text-success" for="mySwitch" >Gagné</label>
							</div>
							<div class="form-check-inline form-switch" d-flex-inline>
								<input class="form-check-input" type="checkbox" id="mySwitch"
									name="Gagné" value="yes" checked disabled="disabled"> <label
									class="form-check-label text-danger" for="mySwitch" >Perdu</label>
							</div>

						</div>
					</form>
				</div>
			</div> -->




