.container {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: rgb(182, 237, 62);
  position: scroll; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(0%, 10%);
  z-index: 2;
  width: 700px;
  padding: 20px;
  text-align: left;
  border-radius: 30px;
}

.mt-3, .-header{

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.0); /* Black w/opacity/see-through */
  color: rgb(182, 237, 62);
  border: 3px solid rgb(182, 237, 62);
  border-color:rgb(182, 237, 62);
}
.mt-2{
  background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
  border: 1px solid;

}
